.homepage_logo {
    display: flex;
    justify-content: center;
    padding-top: 15em;
}

.logo {
    width: 15em;
    height: 15em;
}

.homepage_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
    list-style-type: none;
    padding-top: 2em;
    font-size: 3rem;
}

a {
    color: black;
    text-decoration: none;

}

.circle_spacer {
    display: flex;
    padding: 1em 0 1em 0;
}

img {
    width: .75rem;
    height: .75rem;
}

@media only screen and (min-width: 1600px) {
    .homepage_logo {
        display: flex;
        justify-content: center;
        padding-top: 25em;
    }

    .homepage_nav {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        font-family: poppins;
        list-style-type: none;
        padding-top: 2em;
        padding-left: 33%;
        padding-right: 33%;
        font-size: 2.5rem;
    }

    a {
        color: black;
        text-decoration: none;

    }

    .circle_spacer {
        display: flex;
        justify-content: center;
    }

    img {
        width: .75rem;
        height: .75rem;
    }
}